@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap);

/* ---- Base Rules ---- */
html {
  scroll-behavior: smooth;
}

body {
  background-image: #0f2027;

  background-image: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #2c5364, #203a43, #0f2027);

  width: 100%;
  height: 100%;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #aac7d3;
  font-size: 16px;
}

/* Typography General*/
h1 {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 4em;
  color: #fffffc;
  text-shadow: 0px 0px 100px rgb(255, 255, 255);

  margin: 4em 1rem;
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }

  h2 {
    font-size: 4em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.6em;
  }

  .landing__container > ul > li {
    font-size: 1.5em;
    line-height: 2em;
  }
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

  font-family: "OpenSans", Sans-Serif;
  font-weight: 100;
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

.landing__container > ul > li {
  line-height: 1.7em;
}

.landing__container > ul > li::before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #33c4b6;
  margin-right: 0.5em;
}

em {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
}

.highlight {
  color: #e9f2f6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 1em;
}

/* ---- Layout Rules ---- */

header {
  height: 40vh;
}

main {
  margin-top: 10vh;
  margin-bottom: 5em;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 70vh;
}

@media only screen and (min-width: 720px) {
  section {
    min-height: 80vh;
  }
}
/* ---- Module Rules ---- */

/* Navigation Styles*/


.top__link {
  text-decoration: underline;
  color: #aac7d3;
}

.navbar__menu, .top__ {
  background: rgba(15, 32, 39, 0.3);
  font-size: 0.5em;
}

.top__ {
  position:fixed;
  bottom: 2em;
  right: 2em;
  padding: 0.2em 1em 0.2em 1em;
  border-radius: 0.1em;
  opacity: 0;
  transition: opacity 0.3s linear;

  z-index: 10;
}

.top__link:hover {
  color: #fff;
}

.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
  padding-right: 0.5em;
}

.navbar__menu li {
  display: inline-block;
  padding-left: 0em;
}

.menu__link {
  display: block;
  padding: 1em;

  text-decoration: none;
  color: #aac7d3;

  transition: all linear 0.4s;
}

.menu__link:hover {
  color: #fff;
}

@media only screen and (min-width: 720px) {
  .navbar__menu, .top__ {
    font-size: 0.7em;
  }

  .top__{
    font-size: 0.9em;
  }

  .navbar__menu ul {
    padding-right: 2em;
  }

  .navbar__menu li {
    padding-left: 1em;
  }
}

/* Header Styles */
.page__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.page__footer {
  height: 5em;
  font-size: 0.5em;
  color: #fffffa;
  background-color: #0f2027;
  display: flex;
  justify-content: space-around;
}

.page__footer > p {
  padding-left: 1em;
}

/* Card Styles */
.pricing__container {
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 88%;
  margin: auto;
}

.pricing__card {
  text-align: center;
  border: none;
  border-radius: 0.3em;
  width: 6em;
  background-color: rgba(255, 255, 255, 1);
  color: #222;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
  margin-top: 0;
  transition: 0.4s linear;
}

.pricing__card:hover {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 5px 12px;
  margin-top: -30px;
  transition: 0.3s linear;
}

.pricing__card > header {
  color: #333;
  font-size: 0.7em;
  height: 1.7em;
  padding-top: 1em;
}

.pricing__price {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pricing__price__value {
  color: #222;
  font-size: 1em;
}

.pricing__details {
  color: #444;
  text-align: left;
  height: 8em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  font-size: 0.4em;
}

.pricing__card > footer {
  padding-bottom: 1.5em;
}

.pricing__card > footer > a {
  border: #33c4b6 1px solid;
  border-radius: 40px;
  color: #222;
  padding: 0.5em 2em;
  transition: 0.3s linear;
  font-size: 0.5em;
}

.pricing__card > footer > a:hover {
  border: none;
  background-color: #33c4b6;
  border-radius: 40px;
  color: #f9f9f9;
  padding: 0.5em 2em;
  transition: 0.1s linear;
}

.pricing__details__check > li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: #33c4b6;
  margin-right: 0.5em;
}

@media only screen and (min-width: 720px) {
  .pricing__container {
    width: 66%;
  }
  .pricing__card {
    width: 13em;
  }

  .pricing__card > header {
    font-size: 1.2em;
  }

  .pricing__price__value {
    font-size: 2em;
  }

  .pricing__details {
    height: 7em;
    padding-left: 1.5em;
    padding-top: 2em;
    font-size: 0.8em;
  }

  .pricing__card > footer > a {
    font-size: 0.7em;
  }
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    /* max-width: 50em; */
    padding: 4em;
  }
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */

section.is__active {
  color: #fafafa;
  transition: all 0.3s linear;
}

.menu__link.is__active {
  border-bottom: #33c4b6 5px solid;
  color: #fafafa;
}

.opacityDown {
  opacity: 0.3;
  transition: ease 3s;
}

.top__.is__active {
  opacity: 1;
  transition: all 0.3s linear;
}