@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap);

/* ---- Base Rules ---- */
html {
  scroll-behavior: smooth;
}

body {
  background-image: #0f2027;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #aac7d3;
  font-size: 16px;
  transition: background-image 1s linear;

  background-image: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  );

}

body::-webkit-scrollbar {
  display: none;
}

/* Typography General*/
h1 {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 3em;
  margin: 2em 1rem;
  color: #fffffc;
  text-shadow: 0px 0px 100px rgba(255,255,255,0.6);
}

@media only screen and (min-width: 35em) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-family: "OpenSans", Sans-Serif;
  font-weight: 100;
  font-size: 4em;
}

p {
  font-size: 1.5em;
  line-height: 1.6em;
}

.landing__container > ul > li{
  font-size: 1.5em;
  line-height: 2em;
}

.landing__container > ul > li::before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #33c4b6;
  margin: 0 0.5em 0 0;
}


em {
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05em;
}

.highlight {
  color: #e9f2f6;
}

a {
  text-decoration: none;
}

/* ---- Layout Rules ---- */

header {
  height: 40vh;
}

main {
  margin-top: 10vh;
  margin-bottom: 5em;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu {
  background: rgba(15, 32, 39, 0.7);
  font-size: 0.7em;
}

.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
  padding-right: 2em;
}

.navbar__menu li {
  display: inline-block;
  padding-left: 1em;
}

.menu__link {
  display: block;
  padding: 1em;
  text-decoration: none;
  transition: ease 0.3s all;
  color: #aac7d3;
  transition: all linear 0.4s;
}

.menu__link:hover {
  color: #fff;
}

/* Header Styles */
.page__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.page__footer {
  height: 5em;
  /* margin-left: 1em; */
  font-size: 0.5em;
  color: #fffffa;
  background-color: #0f2027;
  display: flex;
  justify-content:space-around;

}

.page__footer > p {
  padding-left: 1em;
}

/* Card Styles */
.pricing__container {
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.pricing__card {
  text-align: center;
  border: none;
  border-radius: 0.7em;
  width: 13em;
  background-color: rgba(255, 255, 255, 1);
  color: #222;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 3px 8px;
  margin-top: -0;
  transition: 0.4s linear;
}

.pricing__card:hover {
  border: #33c4b6 3px solid;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 5px 12px;
  margin-top: -30px;
  transition: 0.3s linear;
}

.pricing__card > header {
  color: #979797;
  font-size: 1.2em;
  height: 1.7em;
  padding-top: 1em;
}

.pricing__price {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 3em;
}

.pricing__price__value {
  color: #222;
  font-size: 2em;
}

.pricing__details {
  color: #444;
  height: 10em;
  text-align: left;
  padding-top: 2.5em;
  padding-left: 1.5em;
  font-size: .8em;
}

.pricing__card > footer {
  padding-bottom: 1.5em;
}

.pricing__card > footer > a {
  border: #33c4b6 1px solid;
  border-radius: 40px;
  color: #222;
  padding: 0.5em 2em;
  transition: 0.3s linear;
  font-size: 0.7em;
}

.pricing__card > footer > a:hover {
  border: none;
  background-color: #33c4b6;
  border-radius: 40px;
  color: #f9f9f9;
  padding: 0.5em 2em;
  transition: 0.1s linear;
}

ul {
  list-style: none;
  padding-inline-start: 1em;
}

.pricing__details__check > li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  color: #33c4b6;
  margin: 0 0.5em 0 0;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    /* max-width: 50em; */
    padding: 4em;
  }
  .landing__container > h2 {
    /* max-width: 20em; */
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */

section.is__active {
  color: #fafafa;
  transition: all 0.3s linear;
}

.menu__link.is__active {
  border-bottom: #33c4b6 5px solid;
  color: #fafafa;
}

.opacityDown {
  opacity: .3;
  transition: ease 3s;
}